<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- FB sharing info -->
  <meta property="og:image" content="<%= image_url("fb.jpg") %>" />
  <meta property="og:title" content="Марксів шарварок" />
  <meta property="og:description" content="Спільна підготовка видання Марксового «Капіталу»" />
  <meta property="fb:app_id" content="599480133566803" />
  
  <title>Марксів шарварок</title>
 
  <%= stylesheet_link_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<div ng-app="scharwerk" ng-controller="FbCtrl">
	<h1>Hi, facebook!</h1>
  {{ text }}
	<h2><%= params.inspect %></h2>
  <a href="http://шарварок.маркс.укр/">головный сайт</a>
  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41139289 = new Ya.Metrika({ id:41139289, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41139289" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>

